<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../dist/output.css">
</head>

<body>
    <div class="bg-blue-500 min-h-screen h-full p-10 flex flex-col gap-10">

        <div class="bg-white w-full rounded p-6 flex justify-between items-center gap-4">
            <h1 class="font-light text-2xl">Seja bem vindo, Dr. Carlos!</h1>

            <div class="flex items-center"> <a href="<%= sessionData.nome %>!"><img class="w-5 cursor-pointer mr-2"
                        src="https://cdn1.iconfinder.com/data/icons/heroicons-ui/24/logout-512.png"></a>
                <img class="w-5 cursor-pointer"
                    src="https://cdn0.iconfinder.com/data/icons/set-app-incredibles/24/Configuration-2-01-1024.png"
                    onclick="edit()">
            </div>
        </div>

        <div class="bg-white w-full rounded-md p-6 flex flex-col gap-6">
            <p class="font-light text-2xl">PACIENTES A SEREM ATENDIDOS</p>

            <div class="bg-gray-200 rounded-md">
                <div class=" p-2 flex flex-col">
                    <div class="flex justify-between items-center">
                        <p class="text-xl font-bold">JOÃO MALDADE PURA</p>
                        <p class="">25/04/2024</p>
                    </div>
                </div>

                <div class="w-full flex flex-col gap-2 bg-gray-200 p-2">
                    <div class="w-full flex gap-2">
                        <div class="flex flex-col w-1/4">
                            <label for="diagnostico">DIAGNÓSTICO</label>
                            <input type="text" name="diagnostico" id="diagnostico"
                                class="p-2 h-12 outline-none border-b-4 rounded-sm border-blue-500"
                                placeholder="DIAGNÓSTICO">
                        </div>
                        <div class="flex flex-col w-3/4">
                            <label for="diagnostico">ORIENTAÇÕES</label>
                            <input type="text" name="orientacao" id="orientacao"
                                class="p-2 h-12 outline-none border-b-4 rounded-sm border-blue-500"
                                placeholder="ORIENTAÇÕES">
                        </div>
                    </div>

                    <div class="flex gap-2">
                        <button class="bg-green-500 rounded-md  text-white p-2 h-12">ENVIAR ATESTADO</button>
                        <button class="bg-red-500 rounded-md  text-white p-2 h-12">CANCELAR EXAME</button>
                    </div>

                </div>
            </div>


        </div>

    </div>

    </div>

    </div>
</body>

</html>