<%- include('../partials/head.ejs') %>

    <div class="bg-blue-500 h-screen w-screen p-10 flex flex-col gap-10">

        <div class="bg-white w-full rounded p-6 flex justify-between items-center gap-4">
            <h1 class="font-light text-2xl">Seja bem vindo, <%= sessionData.nome %>!</h1>
            <img class="w-8 cursor-pointer" src="https://cdn1.iconfinder.com/data/icons/heroicons-ui/24/logout-512.png"
                onclick="logout()">
        </div>


        <div class="bg-white w-full rounded p-6 flex flex-col gap-4">
            <p class="font-light text-2xl">AGENDAR NOVA CONSULTA</p>
            <form action="" class="flex items-center justify-start  flex-wrap gap-2">

                <div class="flex flex-col w-1/4 ">
                    <label for="exames">EXAMES DISPONÍVEIS:</label>
                    <select name="exames" id="exames" class=" h-12 rounded-md bg-gray-200 outline-none">
                        <option disabled selected>SELECIONE UM EXAME</option>
                    </select>
                </div>

                <div class="flex flex-col w-1/4">
                    <label for="medicos"><span id="especialista">MÉDICOS</span> DISPONÍVEIS:</label>
                    <select name="medicos" id="medicos" class=" h-12 rounded-md bg-gray-200 outline-none">
                        <option disabled selected>SELECIONE UM EXAME</option>
                    </select>
                </div>

                <div class="flex flex-col w-1/4">
                    <label for="date">SELECIONE UMA DATA:</label>
                    <input name="date" type="date" class="h-12 rounded-md bg-gray-200 outline-none">
                </div>

                <button type="submit" class=" w-1/4 h-12 bg-green-500 text-white rounded-md">AGENDAR EXAME</button>
            </form>
        </div>

        <div class="bg-white w-full rounded p-6 flex flex-col gap-4"></div>

    </div>

    <script>
        const selectExame = document.getElementById('exames');
        const selectMedico = document.getElementById('medicos');

        function carregarMedicos(especializacaoId) {
            fetch('/medicos/especializacaoid/' + especializacaoId)
                .then(response => response.json())
                .then(data => {
                    selectMedico.innerHTML = "";

                    data.medicos.forEach(medico => {
                        const option = new Option(medico.nome, medico.id);
                        selectMedico.add(option);
                    });

                });
        }

        fetch('/especializacao/')
            .then(response => response.json())
            .then(data => {
                data.especializacoes.forEach(especializacao => {
                    const option = new Option(especializacao.nome, especializacao.id);
                    selectExame.add(option);
                });

                selectExame.addEventListener('change', () => {
                    carregarMedicos(selectExame.value);
                    const especialista = document.getElementById("especialista")
                    especialista.innerHTML = selectExame.selectedOptions[0].text.toUpperCase() + 'S';
                });


            });

        function logout() {
            window.location.href = "/pacientes/login"
        }
    </script>

    <%- include('../partials/footer.ejs') %>