<%- include('../partials/head.ejs') %>


    <div class="bg-blue-500 h-screen flex items-center justify-center">

        <div class="bg-white w-3/12 rounded-md flex flex-col items-center p-8">

            <p class=" font-light text-2xl">CADASTRE-SE JÁ!</p>

            <form method="post" action="/pacientes" class="w-full flex flex-col items-center gap-8 pt-8"
                onsubmit="validarSenha(event)">

                <div class="flex w-full">
                    <input type="text" name="nome" id="nome"
                        class="bg-gray-200 w-full outline-none p-2 rounded-tl-md rounded-bl-md" placeholder="Nome"
                        required>
                    <img src="https://icons.veryicon.com/png/o/internet--web/prejudice/user-128.png" alt=""
                        class="w-10 bg-gray-200 p-2 rounded-tr-md rounded-br-md">
                </div>

                <div class="flex w-full">
                    <input type="email" name="email" id="email"
                        class="bg-gray-200 w-full outline-none p-2 rounded-tl-md rounded-bl-md" placeholder="E-mail"
                        required>
                    <img src="https://cdn.iconscout.com/icon/free/png-256/free-email-2029111-1713291.png?f=webp" alt=""
                        class="w-10 bg-gray-200 p-2 rounded-tr-md rounded-br-md">
                </div>

                <div class="flex w-full">
                    <input type="password" name="senha" id="senha"
                        class="bg-gray-200 w-full outline-none p-2 rounded-tl-md rounded-bl-md" placeholder="Senha"
                        required>
                    <img src="https://icons.veryicon.com/png/o/miscellaneous/remitting-country-linear-icon/password-148.png"
                        alt="" class="w-10 bg-gray-200 p-2 rounded-tr-md rounded-br-md">
                </div>

                <div class="flex w-full">
                    <input type="password" name="confirmarSenha" id="confirmarSenha"
                        class="bg-gray-200 w-full outline-none p-2 rounded-tl-md rounded-bl-md"
                        placeholder="Confirmar senha" required>
                    <img src="https://icons.veryicon.com/png/o/miscellaneous/remitting-country-linear-icon/password-148.png"
                        alt="" class="w-10 bg-gray-200 p-2 rounded-tr-md rounded-br-md">
                </div>

                <div class="w-full flex items-center justify-center float-end gap-8">
                    <button type="submit" class="bg-green-500 p-2 text-white rounded-md">Cadastrar</button>
                    <a href="/pacientes" class="text-red-500">Cancelar</a>
                </div>

                <% if(msg !='' ) { %>
                    <p id="msgErro" class="text-red-500 font-bold">
                        <%= msg %>
                    </p>
                    <% }%>
            </form>
        </div>
    </div>

    <script>
        function validarSenha(event) {
            const senha = document.getElementById('senha');
            const confirmarSenha = document.getElementById('confirmarSenha');
            const msgErro = document.getElementById('msgErro');


            if (senha.value !== confirmarSenha.value) {
                msgErro.innerHTML = 'As senhas não coincidem';
                event.preventDefault();
            }
        }
    </script>

    <%- include('../partials/footer.ejs') %>