<%- include('../partials/head.ejs') %>


    <div class=" bg-white h-screen flex items-center justify-center">

        <div class="bg-white w-3/4 h-5/6 flex justify-between rounded-md drop-shadow-drop">


            <div class="w-3/5
            bg-[url('https://static.vecteezy.com/system/resources/previews/005/307/230/non_2x/healthcare-and-medicine-concept-smart-medical-doctor-working-with-stethoscope-at-modern-hospital-free-photo.jpg')]
            bg-cover rounded-tl-md rounded-bl-md bg-right">
            </div>

            <div class=" w-2/5 p-6 flex flex-col gap-8">

                <p class=" font-light text-2xl">System<span class="text-blue-500 font-bold">Med</span></p>

                <div class="flex flex-col gap-0">
                    <p class=" font-light text-4xl text-blue-500">Junte-se a <span class="font-bold">nós!</span></p>

                </div>

                <form method="post" action="/pacientes/" onsubmit="validarSenha(event)"
                    class="w-full flex flex-col items-center justify-center gap-4">

                    <div class="flex w-full">
                        <input type="text" name="nome" id="nome"
                            class="bg-gray-200 w-full outline-none p-2 border-b-4 border-b-blue-500" placeholder="Nome"
                            required>
                        <img src="https://icons.veryicon.com/png/o/internet--web/prejudice/user-128.png" alt=""
                            class="w-10 bg-gray-200 p-2 rounded-tr-md rounded-br-md">
                    </div>

                    <div class="flex w-full">
                        <input type="email" name="email" id="email"
                            class="bg-gray-200 w-full outline-none p-2 border-b-4 border-b-blue-500"
                            placeholder="E-mail" required>
                        <img src="https://cdn.iconscout.com/icon/free/png-256/free-email-2029111-1713291.png?f=webp"
                            alt="" class="w-10 bg-gray-200 p-2 rounded-tr-md rounded-br-md">
                    </div>

                    <div class="flex w-full">
                        <input type="password" name="senha" id="senha"
                            class="bg-gray-200 w-full outline-none p-2 border-b-4 border-b-blue-500" placeholder="Senha"
                            required>
                        <img src="https://icons.veryicon.com/png/o/miscellaneous/remitting-country-linear-icon/password-148.png"
                            alt="" class="w-10 bg-gray-200 p-2 rounded-tr-md rounded-br-md">
                    </div>

                    <div class="flex w-full">
                        <input type="password" name="confirmarSenha" id="confirmarSenha"
                            class="bg-gray-200 w-full outline-none p-2 border-b-4 border-b-blue-500"
                            placeholder="Confirmar senha" required>
                        <img src="https://icons.veryicon.com/png/o/miscellaneous/remitting-country-linear-icon/password-148.png"
                            alt="" class="w-10 bg-gray-200 p-2 rounded-tr-md rounded-br-md">
                    </div>

                    <div class="w-full flex items-center justify-center gap-8">
                        <button type="submit" class="w-full bg-green-500 p-2 text-white rounded-md">Cadastrar</button>
                    </div>

                    <p class="text-sm">Já tem uma conta?
                        <a href="/pacientes/login" class="text-blue-500 font-bold">Log in</a>
                    </p>

                    <% if(msg !='' ) { %>
                        <p id="msgErro" class="text-red-500 font-bold">
                            <%= msg %>
                        </p>
                        <% }%>
                </form>
            </div>
        </div>
    </div>

    <script>
        function validarSenha(event) {
            const senha = document.getElementById('senha');
            const confirmarSenha = document.getElementById('confirmarSenha');
            const msgErro = document.getElementById('msgErro');


            if (senha.value !== confirmarSenha.value) {
                msgErro.innerHTML = 'As senhas não coincidem';
                event.preventDefault();
            }
        }
    </script>

    <%- include('../partials/footer.ejs') %>